[submodule "files/vim/bundle/ctrlp"]
	path = files/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "files/vim/bundle/gitolite.vim"]
	path = files/vim/bundle/gitolite.vim
	url = git://github.com/tmatilai/gitolite.vim.git
[submodule "files/vim/bundle/tabular"]
	path = files/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "files/vim/bundle/vim-puppet"]
	path = files/vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "files/vim/bundle/thrift.vim"]
	path = files/vim/bundle/thrift.vim
	url = https://github.com/solarnz/thrift.vim.git
[submodule "files/vim/bundle/dart-vim-plugin"]
	path = files/vim/bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule "files/vim/bundle/vim-indent-guides"]
	path = files/vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "files/vim/bundle/ag.vim"]
	path = files/vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "files/vim/bundle/ack.vim"]
	path = files/vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
