[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/gitolite.vim"]
	path = vim/bundle/gitolite.vim
	url = git://github.com/tmatilai/gitolite.vim.git
